# BFAM Web Client Environment Variables
# Copy the matching section to .env for local setup. DO NOT commit secrets to git.

# Development
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SENTRY_DSN=

# Staging
NEXT_PUBLIC_STAGING_API_URL=
NEXT_PUBLIC_STAGING_SENTRY_DSN=

# Production
NEXT_PUBLIC_PROD_API_URL=
NEXT_PUBLIC_PROD_SENTRY_DSN=
